body{
    background: #fff;
}
h1{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 22px;
    left: 8px;
    top: 5px;

}
.header_band{
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    width: 406px;
    width: available;
    background: white;
    border: 1px solid grey;
}
.login_body{
    height: 200px;
    width: 406px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;
}
.login_id{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    left: 8px;
}
.inputbar{
    width: 155px;
}
.layout_head{
    font-family: 'Roboto', sans-serif, bold;
    color: red;
    position: absolute;
    left: 10px;
    font-size: 30px;
    margin: 5px;

}
.btn-link{
    position: relative;
    font-family: 'Roboto', sans-serif;
    top: 5px;
    font-size: 13px;
}
.codehead{
    position: relative;
    font-size: 20px;
    left: 10px;
}
.code{
    position: relative;
    font-size: 16px;
    left: 10px;

}

.rowA{
    font-family: 'Roboto', sans-serif;
    height: 100px;
    width: 406px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;
}


.projects{
    }

.rowB{
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    left: 1px;
    width: 100px;
    height: 100px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;

}

.rowC{
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    left: 1px;
    width: 100px;
    height: 100px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;


}
.rowD{
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    left: 1px;
    width: 100px;
    height: 100px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;

}

.rowE{
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    left: 1px;
    width: 101px;
    height: 100px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background: #c8c8c8;

}
.content_body{

}

.cont_bod{
    position: relative;
    font-size: 18px;
    left: 5px;
    align-self: center;
}

.cont_bod_1{
    position: relative;
    font-size: 16px;
    left: 10px;
}

